canvas{
    border: 1px solid black;
}


.button_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 16rem;
}

button{
    width: 8rem;
    height: 2rem;
    margin: 1rem;
}